ul {
    width: 320px;
    margin: 10px;
    list-style: none;
    padding: 10px;
}
li {
    padding: 5px 10px;
    background-color: #EEEEEE;
    border: 2px solid #DDDDDD;
}
Segment.Change{
    align-content: center;
    alignment: center;
}