body {
    background-color: deepskyblue;
    background-image: url("https://wallpaperaccess.com/full/398881.jpg");

}
#weather-data {
    margin-top: 4em;
    height: 50%;
    width: 50%;
}
#kofi_img {
    border:0px;
    height:36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}